.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .dashboard-container {
    margin-top: 80px;
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: #fff;
    padding-left: 20px;
    border-right: 2px solid var(--on-primary);
    display: flex;
    flex-direction: column;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    padding-left: 10px;
    cursor: pointer;
    font-family: 'CircularStd';
    font-size: 16px;
    color: #333;
  }
  
  .sidebar ul li:hover {
    background-color: #ddd;
  }

  .sidebar ul li.active {
    background-color: var(--on-primary);
    color: #fff;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
  }

  .logout-button-container {
    margin-top: auto; 
    padding: 10px 20px;
    text-align: right;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'CircularStd', sans-serif;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }
  
  .logout-button:hover {
    background-color: var(--tertiary);
  }