.artist-profile {
    display: flex;
    align-items: center;
    margin: 20px;
    text-align: left;
}
  
.profile-picture-container {
    display: inline-block;
    border: 5px solid var(--secondary);
    border-radius: 50%; /* Ensure this is set to 50% */
    padding: 5px;
    margin-right: 20px;
}

.artist-profile-text {
    text-align: right;
    margin-right: 8px;
}
  
.profile-picture {
    width: 100px; /* Ensure width and height are equal */
    height: 100px; /* Ensure width and height are equal */
    border-radius: 50%; /* Ensure this is set to 50% */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}
  
.artist-profile h3 {
    font-family: 'ClashDisplay';
    font-size: 20px;
    font-weight: 700;
    color: var(--on-primary);
    text-transform: uppercase;
}

.artist-profile p {
    font-family: 'ClashDisplay';
    font-size: 18px;
    font-weight: 300;
    color: var(--on-primary);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 
  
.artist-profile p {
    margin: 0;
}

.smart-bremen-lines {
    margin-left: 5px;
    width: 20px;
    height: auto;
    margin-bottom: 3px;
}