.footer {
  background-color: var(--on-primary);
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-skyline-container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-skyline-wrapper {
  display: flex;
  width: 800%;
}

.footer-skyline {
  height: 150px;
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  z-index: 1;
}

.footer-logos {
  display: flex;
  gap: 10px;
}

.footer-logo {
  height: 25px;
}

.footer-contact {
  font-family: 'CircularStd';
  font-weight: 400;
  font-size: 10px;
  color: white;
  margin-left: auto;
  text-align: right;
}

.footer-about-us {
  margin-top: 20px;
  font-family: 'CircularStd';
  font-weight: 400;
  font-size: 10px;
  color: white;
  margin-left: auto;
  text-align: right;
}

.footer-copyright-text {
  font-family: 'CircularStd';
  font-weight: 400;
  font-size: 10px;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  text-align: right;
}
