/* src/components/mapview.css */
.map-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .map-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
    padding: 20px;
  }
  
  .profile-picture {
    border-radius: 50%;
    animation: wiggle 1s infinite;
  }
  
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  
  .who-are-we-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }