.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px 0;
}

.text-content {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: var(--on-primary);
}

.text-we-are{
  font-family: 'ClashDisplay';
  font-weight: 300;  
  margin-right: 5px;
}

.text-with-icon {
  display: flex;
  align-items: center;
}

.text-bremen{
  font-family: 'ClashDisplay';
  font-weight: 700;
}

.icon {
  margin-left: 5px;
  height: 17px;
}
