.app-container{
  padding-top:60px ;
  display: flex;
  flex-direction: column;
  min-height: 300vh;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.app-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  flex-grow: 1;

}

.text-we-are-bremen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-we-are{
  font-family: 'ClashDisplay';
  font-size: 25px;
  font-weight: 300;  
  margin-right: 5px;
  color : var(--on-primary);
}

.text-bremen{
  font-family: 'ClashDisplay';
  font-weight: 700;
  font-size: 25px;
  color : var(--on-primary);
}

.text-with-icon {
  display: flex;
  align-items: center;
}



.icon {
  margin-left: 5px;
  height: 17px;
}
