.custom-div-icon .marker-pin {
  position: relative;
  width: 30px;
  height: 42px;
  background-color: #4838cc;
  clip-path: polygon(50% 0%, 100% 25%, 80% 100%, 50% 85%, 20% 100%, 0% 25%);
  /* clip-path: path(
    "M0.5,1 C0.5,1,0,0.7,0,0.3 A0.25,0.25,1,1,1,0.5,0.3 A0.25,0.25,1,1,1,1,0.3 C1,0.7,0.5,1,0.5,1 Z"
  ); */
  /* clip-path: circle(50px at 0 100px); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-div-icon .marker-pin img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}

.popup-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  font-family: 'CircularStd', sans-serif;
  align-items: end;
}


.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cancel-button {
  background: none;
  margin-left : 10px;
  border: none;
  color: var(--on-primary);
  font-size: 14px;
  cursor: pointer;
}

.submit-button {
  padding: 10px 20px;
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: none;
}

.submit-button:hover {
  background-color: var(--tertiary);
}

